<p>
    @ViewBag.Message
</p>
<div style="float:left;">
Ann trained in Graphic Art, and has worked in the printing trade.
She has been a freelance sign writer and graphic artist.  She now lives in Newark, Nottinghamshire, where she 
concentrates on producing abstract and impressionist works, mostly in acrylic, but sometimes in oil paints. 
She prefers to work on large canvases, and loves bright colours to produce vibrant striking images. 
<br /><br /><br />
<img width="300px" alt="ALC" src="../../Content/art/ann.jpg" />
<br /><br /><br />
After marriage she lived in Grantham and moved to Nottinghamshire ten years ago. She has exhibited locally 
for several years now, the latest exhibition was in Newark, Nottinghamshire and has paintings on display in 
Newark and London.
<br /><br />
Ann says: <br />
“I love to paint! There is no greater pleasure for me than to have a blank canvas, loads of paint and the radio on, 
playing my favourite type of music, with the whole day before me. When I 
start to paint, I deliberately have no idea what I am going to produce. The process is instinctive. I love the 
way certain colours mix together, the contrast of shades and tones, the way the paints mix on the canvas, 
endless experimenting with textures and techniques. I draw on my experience in life and my imagination; to 
produce colourful and beautiful objects which I hope will bring pleasure to others.”

</div>
