   <table class="main">
    <tr>
     <td><hr /></td>
    </tr>
    <tr>
     <td><div class="head">
     Paintings are acrylic or oil. Click on any painting for a larger image. Please note, the prices quoted do not include 
     postage and packing costs, which would be by arrangement. © Copyright Ann Chambers 2012</div></td>
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    
    @* Start of picture section : Paprika ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Paprika.jpg" rel="lightbox" title="Paprika" >
                <img alt="Paprika" width="120px" src="../../Content/art/Paprika.jpg" /><div>Paprika</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Paprika</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">An abstract painting . Acrylic paint on a deep profile canvas. 
                </td>
              </tr>
              <tr">
               <td style="background-color:#333333; text-align:left;"><strong>Price: £350</strong> | Size:102 x 76 x 4cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Paprika  ------------------------------------------------------------------------*@
    @* Start of picture section : Pasquale ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Pasquale.jpg" rel="lightbox" title="Pasquale" >
                <img alt="Pasquale" width="120px" src="../../Content/art/Pasquale.jpg" /><div>Pasquale</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Pasquale</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">An abstract painting . Acrylic paint on canvas. 
                </td>
              </tr>
              <tr">
               <td style="background-color:#333333; text-align:left;"><strong>Price: £300</strong> | Size:102 cm x 80 cm x 15 mm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Pasquale  ------------------------------------------------------------------------*@
    @* Start of picture section : Tanya's Waterlilies (19) ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Tanyas waterlilies.jpg" rel="lightbox" title="Tanya's Waterlilies (19)" >
                <img alt="Tanya's Waterlilies (19)" width="120px" src="../../Content/art/Tanyas waterlilies.jpg" /><div>Tanya's Waterlilies (19)</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Tanya's Waterlilies (19)</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Impressionist painting,  Acrylic paint on deep profile canvas.                
                </td>
              </tr>
              <tr">
               <td style="background-color:#333333; text-align:left;"><strong>Price: £200</strong> | Size:60 x 46 x 4cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Tanya's Waterlilies (19)  ------------------------------------------------------------------------*@
    @* Start of picture section : Blue Cow ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Blue Cow.jpg" rel="lightbox" title="Blue Cow" >
                <img alt="Blue Cow" width="120px" src="../../Content/art/Blue Cow.jpg" /><div>Blue Cow</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Blue Cow</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">An abstract painting. Acrylic paint on deep profile canvas
                </td>
              </tr>
              <tr">
               <td style="background-color:#333333; text-align:left;"><strong>Price: £200</strong> | Size:60 x 46 x 4cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Blue Cow  ------------------------------------------------------------------------*@
    @* Start of picture section : Over the top ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/1sr WW lighter-001.jpg" rel="lightbox" title="Over the top" >
                <img alt="Over the top" width="120px" src="../../Content/art/1sr WW lighter-001.jpg" /><div>Over the top</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Over the top</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Print of a watercolour on paper. Can be framed.
                </td>
              </tr>
              <tr">
               <td style="background-color:#333333; text-align:left;"><strong>Price: £30</strong> | Size:12" x 18"</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Over the top  ------------------------------------------------------------------------*@
    @* Start of picture section : Ghosts of the Somme ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/WW1soldiers (2nd version).jpg" rel="lightbox" title="Ghosts of the Somme" >
                <img alt="Ghosts of the Somme" width="120px" src="../../Content/art/WW1soldiers (2nd version).jpg" /><div>Ghosts of the Somme</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Ghosts of the Somme</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Acrylic painting on canvas
                </td>
              </tr>
              <tr">
               <td style="background-color:#333333; text-align:left;"><strong>Price: £300</strong> | Size:69 x 69 x 4 cm"</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Into No Man's Land (2)  ------------------------------------------------------------------------*@
    @* Start of picture section : Poppies and WW1 Soldiers ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/WW1Soldiers Poppies 4.jpg" rel="lightbox" title="Poppies and WW1 Soldiers" >
                <img alt="Poppies and WW1 Soldiers" width="120px" src="../../Content/art/WW1Soldiers Poppies 4.jpg" /><div>Poppies and WW1 Soldiers</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Poppies and WW1 Soldiers</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Acrylic Paint on 15 mm  profile canvas
                </td>
              </tr>
              <tr">
               <td style="background-color:#333333; text-align:left;"><strong>Price: £300</strong> | Size:101 x 80 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Poppies and WW1 Soldiers  ------------------------------------------------------------------------*@
    @* Start of picture section : Wisteria ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Wisteria.jpg" rel="lightbox" title="Wisteria" >
                <img alt="Wisteria" width="120px" src="../../Content/art/Wisteria.jpg" /><div>Wisteria</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Wisteria</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Limited availability print of impressionist painting. 
                </td>
              </tr>
              <tr">
               <td style="background-color:#333333; text-align:left;"><strong>Price: £90</strong> | Size: 101 x 80 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Wisteria  ------------------------------------------------------------------------*@
    @* Start of picture section : Poppies ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/2013 Poppies1.jpg" rel="lightbox" title="Poppies" >
                <img alt="Poppies" width="120px" src="../../Content/art/2013 Poppies1.jpg" /><div>Poppies</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Poppies</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Acrylic Paint on 15 mm profile canvas
                </td>
              </tr>
              <tr">
               <td style="background-color:#333333; text-align:left;"><strong>Price: £250</strong> | Size: 101 x 80 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Poppies  ------------------------------------------------------------------------*@
    @* Start of picture section : Parade ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Parade.jpg" rel="lightbox" title="Parade" >
                <img alt="Parade" width="120px" src="../../Content/art/Parade.JPG" /><div>Parade</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Parade</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">An abstract painting, recalling all the colour and energy of this summer's celebratory parades. 
               Acrylic paint on deep edge canvas.
                </td>
              </tr>
              <tr">
               <td style="background-color:#333333; text-align:left;"><strong>Price: £400</strong> | Size:100 x 100 x 4 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Parade  ------------------------------------------------------------------------*@
    @* Start of picture section : Golden Storm ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Golden Storm.jpg" rel="lightbox" title="Golden Storm" >
                <img alt="Golden Storm" width="120px" src="../../Content/art/Golden Storm.JPG" /><div>Golden Storm</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Golden Storm</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Impressionist painting. Acrylic paint on canvas with a 15 mm profile.
                </td>
              </tr>
              <tr">
               <td style="background-color:#333333; text-align:left;"><strong>Price: £250</strong> | Size:101 x 80 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Golden Storm  ------------------------------------------------------------------------*@
    @* Start of picture section : Risdarr -----------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:top; width:180px;">
        <a class="picturelink" href="../../Content/art/risdarr3.jpg" rel="lightbox" title="Arrival at Risdarr" >
            <img alt="Risdarr" width="120px" src="../../Content/art/risdarr3.JPG" /><div>Arrival at Risdarr</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>Arrival at Risdarr</strong></td>       
          </tr>
          <tr>
           <td style="height:100px; vertical-align:top;">
           An abstract painting showing a peaceful, secluded place on smooth, shiny-surfaced, painted in bold, primary colours. Acrylic paint on canvas with a 4 cm profile.
           </td>
          </tr>
          <tr">
           <td style="background-color:#333333; text-align:left;"><strong>Price: £400</strong> | Size: 122  x 91cm </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : Risdarr  ------------------------------------------------------------------------*@

    @* Start of picture section : Culpepper ---------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:middle; width:180px;">
        <a class="picturelink" href="../../Content/art/Culpepper3.jpg" rel="lightbox" title="Culpepper" >
            <img alt="Culpepper" width="120px" src="../../Content/art/Culpepper3.JPG" /><div>Culpepper</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>Culpepper</strong></td>       
          </tr>
          <tr>
           <td style="height:110px; vertical-align:top;">A large and flamboyant abstract with celebration in mind.  Difficult not to be cheerful looking at it! 
            Acrylic paint on canvas with a 4 cm  profile.
            </td>
          </tr>
          <tr">
           <td style="background-color:#333333; text-align:left;"><strong>Price: £650</strong> | Size: 152 x 122 cm. </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : Culpepper  ------------------------------------------------------------------------*@

    @* Start of picture section : Jupiter ---------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:middle; width:180px;">
        <a class="picturelink" href="../../Content/art/Jupiter3.jpg" rel="lightbox" title="The Flight of Jupiter" >
            <img alt="The Flight of Jupiter" width="120px" src="../../Content/art/Jupiter3.JPG" /><div>The Flight of Jupiter</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>The Flight of Jupiter</strong></td>       
          </tr>
          <tr>
           <td style="height:110px; vertical-align:top;">An vibrant abstract painting showing energy and adventure on a textured surface, painted with bold strokes and pure colours. Acrylic paint on canvas with a 4 cm profile.
            </td>
          </tr>
          <tr">
           <td style="background-color:#333333; text-align:left;"><strong>Price: £400</strong> | Size: 122  x 91cm. </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : Jupiter  ------------------------------------------------------------------------*@
@* Start of picture section : Louisa's Lilies ---------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:middle; width:180px;">
        <a class="picturelink" href="../../Content/art/Louisa's Lilies.jpg" rel="lightbox" title="Louisa's Lilies" >
            <img alt="Louisa's Lilies" width="120px" src="../../Content/art/Louisa's Lilies.JPG" /><div>Louisa's Lilies</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>Louisa's Lilies</strong></td>       
          </tr>
          <tr>
           <td style="height:110px; vertical-align:top;">A large lily-flower painting in soft, restful colours.  The surface is heavily textured with flowing, effortless shapes and spirals.
           Acrylic paint on canvas with a 4 cm profile.
           </td>
          </tr>
          <tr">
           <td style="background-color:#333333; text-align:left;"><strong>Price: £650</strong> | Size: 152 x 122 cm. </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : Louisa's Lilies  ------------------------------------------------------------------------*@
   </table>    
