@model IEnumerable<AnnChambersArt.Models.ItemPosting>
@foreach (AnnChambersArt.Models.ItemPosting posting in Model)
{
    <tr>
        <td>
            <table>
                <tr style="height:130px;">
                    <td style="vertical-align:middle; width:180px">
                        <a class="picturelink" href=@posting.FilePath rel="lightbox" title=@posting.Title>
                            <img alt=@posting.ShortName width="120px" src=@posting.FilePath /><div>@posting.ShortName</div>
                        </a>
                    </td>
                    <td>
                        <table style="padding:8px; border-width:0px; width:350px;">
                            <tr style="vertical-align:middle;">
                                <td style="background-color:#CC9900; text-align:left;"><strong>@posting.Header</strong></td>
                            </tr>
                            <tr>
                                <td style="height:110px; vertical-align:top;">
                                    @posting.Description
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:#333333; text-align:left;">@posting.Price | Size :@posting.Size</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <hr />
        </td>
    </tr>
}