body {
    background-color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    margin-left: 0;
    margin-top: 0;
}
a:link {
    color: #FFFFFF;
}
a:link.picturelink {
    color:White;
    text-decoration: underline;
    text-align:left;
    font-size:small;
}
a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #FFFFFF;
}
a:active {
    color: #FFFFFF;
}

div.head
{
    font-size:smaller;    
}
div.outer
{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;    
}

h1 {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
    color:White;
    border: none;
    line-height: 2em;
    font-size: 32px !important; 
}
td {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    padding-left: 15px;
    
}
.sidebar 
{
    padding-left: 15px;
    padding-top: 10px;
}

table.main
{
    width: 400px;
}

#title 
{
    padding-bottom:75px;
}

    
    

th {
    font-family: Arial,Helvetica,sans-serif;
}
tr 
{
    vertical-align:top;
    padding: 50px;
}


.datetime {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
}
.counter {
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: x-small;
    font-style: normal;
}
.welcometitle {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: large;
    font-style: normal;
}
.pagetitle {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: x-large;
    font-style: normal;
}
.newstitle {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    font-style: normal;
}
.newsdate {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    font-style: normal;
}
.subtext {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    font-style: normal;
}
.textbox {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    font-style: normal;
}


/* STU NICHOLLS DOT COM Plug In: ------------------------------------------------------------*/

#menu {list-style-type:none; padding:0; margin:0; }
#menu ul {list-style-type:none; padding: 0; margin: 0;}
#menu li {list-style-type:none; background:#FF5C33; margin:3px 3px 0 0; position:relative; display:block  }
#menu li.sub {background:#baa;}

/* for IE5.5 and IE6 only */
#menu table {border-collapse:collapse;position:absolute;top:0;left:0;z-index:80;font-size:1em;}

#menu li a {display:table; 
            height:25px; 
            font-family:arial, sans-serif; 
            font-size:20px; 
            font-weight:bold;
            color: #FFFFFF; 
            line-height:30px; 
            width:125px; 
            text-decoration:none; 
            text-align:center;
            
}
#menu :hover {color:#CC3300; background:#FF5C33;}
#menu :hover > a {color:#CC3300; background:#FF5C33;}

#menu ul, 
#menu :hover ul ul,
#menu :hover ul :hover ul ul,
#menu :hover ul :hover ul ul.left {position:absolute; left:-9999px; width:128px;}

#menu :hover ul{left:0;top:25px; background:url(transparent.gif);} /* the background image is for IE7 */

#menu :hover ul :hover ul,
#menu :hover ul :hover ul :hover ul {padding:0 3px; left:125px; top:-3px;}

#menu :hover ul :hover ul.left,
#menu :hover ul :hover ul :hover ul.left {padding:0 3px; left:-131px; top:-3px;}

/* END OF STU NICHOLLS DOT COM Plug In ------------------------------------------------------------*/

