   <table class="main">
    <tr>
     <td><hr /></td>
    </tr>
    <tr>
     <td><div class="head">
     Paintings are acrylic or oil. Click on any painting for a larger image. © Copyright Ann Chambers 2012</div></td>
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
       @Html.Partial("_postingList")
   </table>    
