<table id="main">
    <tr>
        <td><hr /></td>
    </tr>
    <tr>
        <td>
            <div class="head">
                @ViewBag.Blurb
            </div>
        </td>
    </tr>
    <tr>
        <td><hr /></td>
    </tr>
    @{var partialView = (User.Identity.IsAuthenticated) ? "_postingEditList" : "_postingDisplayList";
        Html.RenderPartial(partialView);}
</table>

