<table id="items">
    <tr>
        <td><hr /></td>
    </tr>
    <tr>
        <td>
            <div class="head">
                @ViewBag.Blurb
            </div>
        </td>
    </tr>
    <tr>
        <td><hr /></td>
    </tr>
    <tr>
        <td>
            <div>
                @{var partialView = (User.Identity.IsAuthenticated) ? "_postingEditList" : "_postingDisplayList";
            Html.RenderPartial(partialView);}
            </div>
        </td>
    </tr>
</table>