<table id="main">
    <tr>
        <td><hr /></td>
    </tr>
    <tr>
        <td>
            <div class="head">
                @ViewBag.Blurb
            </div>
        </td>
    </tr>
    <tr>
        <td><hr /></td>
    </tr>
    <tr>
        <td>
            @Html.Partial("_itemList")
        </td>
    </tr>
</table>

