<table class="main">
    <tr>
        <td><hr /></td>
    </tr>
    <tr>
        <td>
            <div class="head">
                @ViewBag.Blurb
            </div>
        </td>
    </tr>
    <tr>
        <td><hr /></td>
    </tr>
    @Html.Partial("_postingList")
</table>

