@model IEnumerable<ArtPostings.Models.ItemPostingViewModel>
@foreach (ArtPostings.Models.ItemPostingViewModel posting in Model)
{
    <tr>
        <td>
            <table class="posting">
                <tr>
                    <td class="picturecell">
                        <a class="picturelink" href=@posting.Posting.FilePath rel="lightbox" title=@posting.Posting.Title>
                            <img alt=@posting.Posting.ShortName width="120px" title=@posting.Posting.ShortName src=@posting.Posting.FilePath />
                        </a>
                    </td>
                    <td class="itemtext">
                        <div class="itemheader">
                            <strong>@posting.Posting.Header</strong>
                        </div>
                        <div class="itemdesc">@posting.Posting.Description</div><br /><br />
                        <div class="itemfooter"> @posting.Posting.Price | Size :@posting.Posting.Size</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <hr />
        </td>
    </tr>
}