<td class="picturecell">
    <a class='picturelink' href=@Model.FilePath rel='lightbox' title=@Model.Title>
        <img alt=@Model.ShortName width="120" title=@Model.ShortName src=@Model.FilePath />
    </a>
</td>
<td class="itemtext">
    <div class="itemheader">
        <strong>
            @Model.Header
        </strong>
        <div class="itemaction">
            <a class="icon" href="#">
                <span class="ion-close" data-pack="default" data-tags="talk" data-toggle="tooltip" title="Cancel changes"></span>
            </a>
            <a class="icon" href="#">
                <span class="ion-checkmark" data-pack="default" data-tags="talk" data-toggle="tooltip" title="Done"></span>
            </a>
        </div>
    </div>
    <div class="itemdesc">@Model.Description</div><br /><br />
    <div class="itemfooter"> @Model.Price | Size :@Model.Size</div>
</td>
