<td class="picturecell">
    <a class='picturelink' href=@Model.Posting.FilePath rel='lightbox' title=@Model.Posting.Title>
        <img alt=@Model.Posting.ShortName width="120" title=@Model.Posting.ShortName src=@Model.Posting.FilePath />
    </a>
</td>
<td class="itemtext">
    <div class="itemheader">
        <strong>
            @Model.Posting.Header
        </strong>
        <div class="itemaction">
            <a class="icon" href="#">
                <span class="ion-close" data-pack="default" data-tags="talk" data-toggle="tooltip" title="Cancel changes"></span>
            </a>
            <a class="icon" href="#">
                <span class="ion-checkmark" data-pack="default" data-tags="talk" data-toggle="tooltip" title="Done"></span>
            </a>
        </div>
    </div>
    <div class="itemdesc">@Model.Posting.Description</div><br /><br />
    <div class="itemfooter"> @Model.Posting.Price | Size :@Model.Posting.Size</div>
</td>
