@foreach (ArtPostings.Models.ItemPostingViewModel posting in Model)
{
    <tr>
        <td>
            <table class="posting">
                <tr>
                    @{ if (posting.Editing)
                        {
                            Html.RenderPartial("_postingEditItem", posting);
                        }
                        else
                        {
                            Html.RenderPartial("_postingDisplayItem", posting);
                        }
                    }
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <hr />
        </td>
    </tr>}
