<script type="text/javascript">
    $(function () {
        $('.ion-close, .ion-checkmark').click(function () {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("Reload")', // controller-agnostic: this might call either the Archive or Home versions of 'Reload'
                type: 'GET',
                success: function (htmlstring) {
                    // need to replace content at a fairly high level to ensure old postings are cleared out of the view
                    $('#listitems').html(htmlstring);
                    $('#listitems').show();
                }
            });
        });
    });
</script>
@foreach (ArtPostings.Models.ItemPostingViewModel posting in Model)
{
    <tr>
        <td>
            <table class="posting">
                <tr>
                    @{ if (posting.Editing)
                        {
                            Html.RenderPartial("_postingEditItem", posting);
                        }
                        else
                        {
                            Html.RenderPartial("_postingDisplayItem", posting);
                        }
                    }
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <hr />
        </td>
    </tr>
                        }

