@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "404 Error";
 }

<h1 class="text-danger">404 Error</h1>
<h2 class="text-danger">A 404 'Page not found' error occurred while processing your request.</h2>

