@model ArtPostings.Models.PictureFileRecordsViewModel
<script type="text/javascript">
    function dropdownchange(event, statusvalue) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("Index")', // controller-agnostic: this might call either the Archive or Home versions of 'Reload'
            data: { status: statusvalue, initial: false},
            type: 'GET',
            success: function (htmlstring) {
                // need to replace content at a fairly high level to ensure old postings are cleared out of the view
                $('#filelistcontainer').html(htmlstring);
                $('#filelistcontainer').show();
            },
            error: function (request, status, error) {
                alert(error);
            }
        });
    }

    function filedelete(event, file, status) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("FileDelete")', // controller-agnostic: this might call either the Archive or Home versions of 'Reload'
            data: { FileName: file, Status: status},
            type: 'POST',
            success: function (htmlstring) {
                // need to replace content at a fairly high level to ensure old postings are cleared out of the view
                $('#filelistcontainer').html(htmlstring);
                $('#filelistcontainer').show();
            },
            error: function (request, status, error) {
                alert(error);
            }
        });

    }
</script>


<div id="status">
    @Html.DropDownList("StatusDropDown", Model.Statuses, new { onchange = "dropdownchange(event, this.value)", id ="selectstatus" })
</div><br /><br /><br />
<div id="filelistcontainer">
    @{
        Html.RenderPartial("_PictureList");
    }
</div>
<div class="pageheader">
    Upload a new picture file ...
    <hr />
</div>
@using (@Html.BeginForm("UploadFile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
{
    <input class="upload" type="file" name="FileUpload" />
    <input type="submit" name="Submit" value="Upload" />    
}
<br /><br />
