/*Reset CSS Code/////////////////////////////////////////////////////////////////////////////////////////////////*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of Reset CSS Code/////////////////////////////////////////////////////////////////////////////////////////////////*/


body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin-left: 0;
    margin-top: 0;
    color: black;
}
a {
    color: blue;
}
a:hover {
    font-weight:bolder;
}
div.commentary {
    display: inline-block; 
    float:left; 
    width:30%; 
    padding-top: 12px; 
    padding-left:60px;
}
div.head
{
    font-size:medium;    
}
div.inner {
    display:inline; 
    width:100%; 
    margin-left:30px; 
    margin-right:30px; 
    vertical-align:top;
}
div.itemaction {
    float:right; 
    color:white; 
    font-size:small; 
    vertical-align:central;
}

div.itemaction a {
    color:white;
}

div.itemdesc {
    padding:7px;
}
div.itemfooter {
    position:absolute; 
    bottom:0px; 
    background-color:gainsboro; 
    text-align:left; 
    border-radius: 5px; 
    padding: 4px;
    width:97%;
}
div.itemheader {
    color:white; 
    background-color:plum; 
    text-align:left; 
    border-radius: 5px; 
    padding: 4px; 
    width:97%
}

div.listsection {
    display: inline-block; 
    max-width:50%;  
    float:left; 
    padding-left:30px;
}
div.outer
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;    
}
div.outer2
{
    display:block    
}
h1 {
    float: left;
    color: cornflowerblue;
    font-weight: bold;
    font-family: 'Segoe Print', Mistral, sans-serif;
    padding:30px;
    margin:inherit;
    border: none;
    line-height: 2em;
    font-size: 40px !important; 
    width:100%; 
    float:left;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

.sidebar 
{
    padding-left: 15px;
    padding-top: 10px;
}

table#main
{
    width: 100%;
}

table.posting {
     width:100%;
}

td.picturecell {
    vertical-align:middle; 
    width:180px;
}

td.itemtext {
    text-align:left; 
    position:relative;
}

td {
    font-size: medium;
}
td.leftside {
    width:30%;
    padding-top: 12px;
}
td.innerseparator {
    min-width: 70px;
    width: 10%;
}
.top 
{
    padding-top: 14px;
    margin: 0;
    padding-bottom:50px;    
    width: 85%;
}
.topleftmenu
{
    float: left;    
    display:block;
}

.toprightmenu
{
    float: right;    
    display:block;
}

.toprightmenu li
{
    display:inline;
    margin-right: 10px;    
    margin-left: 30px;    
    float:right;
}

.topleftmenu li
{
    display:inline;
    margin-right: 10px;    
    margin-left: 30px;    
    float:right;
}


.toprightmenu li a
{
    text-decoration:none;
    color:mediumorchid;
}
.topleftmenu li a
{
    text-decoration:none;
    color:mediumorchid;
}

    
    

th {
    font-family: Arial,Helvetica,sans-serif;
}
tr 
{
    vertical-align:top;
}
.datetime {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
}
.counter {
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: x-small;
    font-style: normal;
}
.welcometitle {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: large;
    font-style: normal;
}
.pagetitle {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: x-large;
    font-style: normal;
}
.newstitle {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    font-style: normal;
}
.newsdate {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    font-style: normal;
}
.subtext {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    font-style: normal;
}
.textbox {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    font-style: normal;
}

.col-md-10 {
    padding: 5px;
}

.form-control {
    border-radius: 4px;
    font-size: medium;
    width: 300px;    
    padding: 3px;
}

.btn {
    border-radius: 4px 4px;
    margin-left: 1px;
}



