/*Reset CSS Code/////////////////////////////////////////////////////////////////////////////////////////////////*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of Reset CSS Code/////////////////////////////////////////////////////////////////////////////////////////////////*/


body {
    background-color: floralwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin-left: 0;
    margin-top: 0;
    color: black;
}
a {
    color: blue;
}
a:hover {
    font-weight:bolder;
}

a.icon {
    text-decoration:none;
}

.btn {
    border-radius: 4px 4px;
    margin-left: 1px;
}

.col-md-10 {
    padding: 5px;
}

.description {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     
    height: 150px;
    font-size:medium;
    border:dotted;
    border-radius:10px;        
}

div.notepad {
    display: inline-block; 
    float:left; 
    padding-top: 12px; 
    padding-left:25px;
}
div.head
{
    font-size:medium;    
}

div.sidetext{
    max-width:330px;
}
div#inner {
    display:inline;     
}
div.itemaction {
    float:right; 
    color:white; 
    font-size:small; 
    vertical-align:central;
}

div.itemaction a {
    color:white;
}

div.itemdesc {
    padding:7px;
}
div.itemdescedit {
    padding:7px;    

}
div.itemfooter {
    position:absolute; 
    bottom:0px; 
    background-color:gainsboro; 
    text-align:left; 
    border-radius: 5px; 
    padding: 4px;
    width:97%;
}
div.itemheader {
    color:white; 
    background-color:plum; 
    text-align:left; 
    border-radius: 5px; 
    padding: 4px; 
    width:97%
}

div#listpad {
    display: inline-block; 
    max-width:50%;  
    float:left; 
    padding-left:30px;
    padding-right: 30px;
}
div#page
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
}
div#main
{
    display:block;   
    width: 75%;
    margin: 0px 250px;
    
    
}

div#status {
    padding: 10px 0px 10px 0px;
    text-align: right;
    float: right;    
}

.errortext {
    text-align: center;
    margin-top: 220px;
    font-size: 3em;
}
    
*:focus {
   outline: 0;
 }
 
.form-control {
    border-radius: 4px;
    font-size: medium;
    width: 300px;    
    padding: 3px;
}


h1.main {
    float: left;
    color: cornflowerblue;
    font-weight: bold;
    font-family: 'Segoe Print', Mistral, sans-serif;
    padding:30px 23px;
    margin:0px;
    border: none;
    line-height: 2em;
    font-size: 40px !important; 
    width:100%; 
    float:left;
}

h1.minor {
    float: left;
    color: cornflowerblue;
    font-weight: bold;
    font-family: 'Segoe Print', Mistral, sans-serif;
    padding:10px 0px;
    margin:0px;
    border: none;
    line-height: 2em;
    font-size: 20px !important; 
    width:100%; 
    float:left;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

hr {
    color: darkgray;
    border-width: 2px;
    border-style: solid;    
}

.icon-link {
    cursor: pointer;
}

.ion-close {
    padding-right: 6px;    
}

.medium-column {
    min-width: 130px;    
}

.pageheader{
    padding-top: 70px;
    font-size: 1.3em;    
    color: cornflowerblue;
}
select#selectstatus, .upload {
    width: 250px;
    border-radius: 5px;
    border-color: darkgray;
    background-color: white;
    border-width:3px;
    color: darkslategray;
    border-style: solid;    
}
 
 .sidebar 
{
    padding-left: 15px;
    padding-top: 10px;
}

table#items
{
    width: 100%;
}

table.posting {
     width:100%;
}

td.picturecell {
    vertical-align:middle; 
    width:150px;
}

td.itemtext {
    text-align:left; 
    position:relative;
}

td {
    font-size: medium;
}
td.leftside {
    width:30%;
    padding-top: 12px;
}
td.innerseparator {
    min-width: 70px;
    width: 10%;
}

th a {
    color:white;
}    

.top 
{
    padding-top: 14px;
    margin: 0px;
    padding-bottom:50px;        
    background-color: plum;
    font-size: 1.1em;   
    
}
.topleftmenu
{
    float: left;    
    display:block;
    margin: 10px;
}

.toprightmenu
{
    float: right;    
    display:block;
    margin: 10px;
}

.toprightmenu li
{
    display:inline;
    margin-right: 10px;    
    margin-left: 30px;    
    float:right;
}

.topleftmenu li
{
    display:inline;
    margin-right: 10px;    
    margin-left: 30px;    
    float:right;
}


.toprightmenu li a
{
    text-decoration:none;
    color:white;
}
.topleftmenu li a
{
    text-decoration:none;
    color:white;
}
   

tr 
{
    vertical-align:top;
}

.datetime {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
}
.counter {
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: x-small;
    font-style: normal;
}

.welcometitle {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: large;
    font-style: normal;
}
.pagetitle {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: x-large;
    font-style: normal;
}
.newstitle {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    font-style: normal;
}
.newsdate {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    font-style: normal;
}
.subtext {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    font-style: normal;
}
.textbox {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    font-style: normal;
}

    .webgrid-table {
        font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     
        font-size: medium;
        width: 100%;
        display: table;
        border-collapse: collapse;
        border: double;
        border-width: 1px;        
        background-color: white;
    }

    .webgrid-table td, th {
        border: inset;
        padding: 5px 20px;
        vertical-align: middle;
        border-width: 1px;        
    }

    .wide-column {
        min-width: 225px;    
    }

    .webgrid-header {
        background-color: darkgray;
        font-size: medium;
        font-weight:bold;
        color: white;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
        background-color: darkgray;
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        padding: 3px 7px 2px;
    }


