<h2>About</h2>
<p>
     This website was first developed and is maintained by: <br /><br />
     <a href="mailto:techsupport@annchambers.net?subject=Web Dev Enquiry: Ann Chambers Art">Martin Chambers.</a><br /><br />
     Version 1 - June 2012 <br /> <br />Version 2 - December 2015
    <br/><br />
    Source code can be viewed at <br /><br /> <a href="https://github.com/martin-chambers/artpostings">https://github.com/martin-chambers/artpostings</a>

</p>
