   <table class="main">
    <tr>
     <td><hr /></td>
    </tr>
    <tr>
     <td><div class="head">
     Paintings are acrylic or oil. Click on any painting for a larger image. © Copyright Ann Chambers 2012</div></td>
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
        @* Start of picture section : Paprika ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Paprika.jpg" rel="lightbox" title="Paprika" >
                <img alt="Paprika" width="120px" src="../../Content/art/Paprika.jpg" /><div>Paprika</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Paprika</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">An abstract painting . Acrylic paint on a deep profile canvas. 
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size:102 x 76 x 4cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Paprika  ------------------------------------------------------------------------*@
    @* Start of picture section : Golden Storm ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Golden Storm.jpg" rel="lightbox" title="Golden Storm" >
                <img alt="Golden Storm" width="120px" src="../../Content/art/Golden Storm.JPG" /><div>Golden Storm</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Golden Storm</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Impressionist painting. Acrylic paint on canvas with a 15 mm profile.
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size:101 x 80 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Golden Storm  ------------------------------------------------------------------------*@
@* Start of picture section : Fauna 1 ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Fauna 1.jpg" rel="lightbox" title="Fauna 1" >
                <img alt="Fauna 1" width="120px" src="../../Content/art/Fauna 1.JPG" /><div>Fauna 1</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Fauna 1</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">An abstract painting. Acrylic paint on deep profile canvas.
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size:40 x 30 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Fauna 1  ------------------------------------------------------------------------*@
    @* Start of picture section : Fauna 2 ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Fauna 2.jpg" rel="lightbox" title="Fauna 2" >
                <img alt="Fauna 2" width="120px" src="../../Content/art/Fauna 2.JPG" /><div>Fauna 2</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Fauna 2</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">An abstract painting. Acrylic paint on deep profile canvas.
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size:40 x 30 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Fauna 2  ------------------------------------------------------------------------*@
    @* Start of picture section : Water Lilies 14 ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Water Lilies 14.jpg" rel="lightbox" title="Water Lilies 14" >
                <img alt="Water Lilies 14" width="120px" src="../../Content/art/Water Lilies 14.JPG" /><div>Water Lilies 14</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Water Lilies 14</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">A large impressionist painting. Acrylic Paint on canvas with a 15 mm profile.                
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size:127 x 102 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Water Lilies 14  ------------------------------------------------------------------------*@
    @* Start of picture section : Flame Trees ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Flame Trees.jpg" rel="lightbox" title="Flame Trees" >
                <img alt="Flame Trees" width="120px" src="../../Content/art/Flame Trees.JPG" /><div>Flame Trees</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Flame Trees</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Acrylic paint on textured surface. Painted on canvas with 15mm profile.
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size:101 x 80 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Flame Trees  ------------------------------------------------------------------------*@
    @* Start of picture section : Praxinus ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Praxinus.jpg" rel="lightbox" title="Praxinus" >
                <img alt="Praxinus" width="120px" src="../../Content/art/Praxinus.JPG" /><div>Praxinus</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Praxinus</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Acrylic paint on canvas with 15mm profile.
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size:101 x 80 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Praxinus  ------------------------------------------------------------------------*@
    @* Start of picture section : Joanne's Poppies ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Joanne's Poppies.jpg" rel="lightbox" title="Joanne's Poppies" >
                <img alt="Joanne's Poppies" width="120px" src="../../Content/art/Joanne's Poppies.JPG" /><div>Joanne's Poppies</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Joanne's Poppies</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Acrylic paint on canvas-covered board, profile 3cm.
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size:76 x 76 cm</td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
    @* End of picture section : Joanne's Poppies  ------------------------------------------------------------------------*@
@* Start of picture section : Travaganza ---------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:middle; width:180px;">
        <a class="picturelink" href="../../Content/art/Travaganza.jpg" rel="lightbox" title="Travaganza" >
            <img alt="Travaganza" width="120px" src="../../Content/art/Travaganza.JPG" /><div>Travaganza</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>Travaganza</strong></td>       
          </tr>
          <tr>
           <td style="height:110px; vertical-align:top;">Abstract painting, conveying joy and celebration. Acrylic paint on canvas with a 4cm profile.
            </td>
          </tr>
          <tr>
           <td style="background-color:#333333; text-align:left;">Size: 127 x 102 cm. </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : Travaganza  ------------------------------------------------------------------------*@
@* Start of picture section : Blue River ---------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:middle; width:180px;">
        <a class="picturelink" href="../../Content/art/Blue River.jpg" rel="lightbox" title="Blue River" >
            <img alt="Blue River" width="120px" src="../../Content/art/Blue River.JPG" /><div>Blue River</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>Blue River</strong></td>       
          </tr>
          <tr>
           <td style="height:110px; vertical-align:top;">Impression of a rainy evening beside the Thames.
            Oil paint on canvas with a 4cm profile.
            </td>
          </tr>
          <tr>
           <td style="background-color:#333333; text-align:left;">Size: 40 x 40 cm. </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : Blue River  ------------------------------------------------------------------------*@
@* Start of picture section : Glorious Summer ---------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:middle; width:180px;">
        <a class="picturelink" href="../../Content/art/Glorious Summer.jpg" rel="lightbox" title="Glorious Summer" >
            <img alt="Glorious Summer" width="120px" src="../../Content/art/Glorious Summer.JPG" /><div>Glorious Summer</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>Glorious Summer</strong></td>       
          </tr>
          <tr>
           <td style="height:110px; vertical-align:top;">View of a summer garden. Acrylic paint on canvas with a 4 cm profile. 
           </td>
          </tr>
          <tr>
           <td style="background-color:#333333; text-align:left;">Size: 61 x 46 cm. </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : Glorious Summer  ------------------------------------------------------------------------*@
        @* Start of picture section : Bunting ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Bunting.jpg" rel="lightbox" title="Bunting" >
                <img alt="Bunting" width="120px" src="../../Content/art/Bunting.JPG" /><div>Bunting</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Bunting</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Painting inspired by the Jubilee.
                Acrylic paint on canvas with a 15 mm profile.
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size: 76 x 61 cm. </td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
        @* End of picture section : Bunting  ------------------------------------------------------------------------*@
        @* Start of picture section : Jubilee Jesting ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Jubilee.jpg" rel="lightbox" title="Jubilee Jesting" >
                <img alt="Jubilee Jesting" width="120px" src="../../Content/art/Jubilee.JPG" /><div>Jubilee Jesting</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Jubilee Jesting</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Abstract painting. Acrylic paint on canvas with a 4 cm profile.
               </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size: 102 x 76 cm. </td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
        @* End of picture section : Jubilee Jesting  ------------------------------------------------------------------------*@
@* Start of picture section : Colour of Summer ---------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:middle; width:180px;">
        <a class="picturelink" href="../../Content/art/Colour of Summer.jpg" rel="lightbox" title="Colour of Summer" >
            <img alt="Colour of Summer" width="120px" src="../../Content/art/Colour of Summer.JPG" /><div>Colour of Summer</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>Colour of Summer</strong></td>       
          </tr>
          <tr>
           <td style="height:110px; vertical-align:top;">Impression of a summer sunset.
            Oil paint on canvas with a 4cm profile.
            </td>
          </tr>
          <tr>
           <td style="background-color:#333333; text-align:left;">Size: 40 x 40 cm. </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : Colour of Summer  ------------------------------------------------------------------------*@
@* Start of picture section : Oberon's Dream ---------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:middle; width:180px;">
        <a class="picturelink" href="../../Content/art/Oberon's Dream.jpg" rel="lightbox" title="Oberon's Dream" >
            <img alt="Oberon's Dream" width="120px" src="../../Content/art/Oberon's Dream.JPG" /><div>Oberon's Dream</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>Oberon's Dream</strong></td>       
          </tr>
          <tr>
           <td style="height:110px; vertical-align:top;">An impressionist painting in glorious colours. Acrylic paint on canvas with a 15 mm profile.
            </td>
          </tr>
          <tr>
           <td style="background-color:#333333; text-align:left;">Size: </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : Oberon's Dream  ------------------------------------------------------------------------*@
@* Start of picture section : A Forest Dream ---------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:middle; width:180px;">
        <a class="picturelink" href="../../Content/art/A Forest Dream.jpg" rel="lightbox" title="A Forest Dream" >
            <img alt="A Forest Dream" width="120px" src="../../Content/art/A Forest Dream.JPG" /><div>A Forest Dream</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>A Forest Dream</strong></td>       
          </tr>
          <tr>
           <td style="height:110px; vertical-align:top;">A large impressionist painting in glorious colours. Acrylic paint on canvas with a 15 mm profile.
           </td>
          </tr>
          <tr>
           <td style="background-color:#333333; text-align:left;">Size: 127 x 102 cm. </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : A Forest Dream  ------------------------------------------------------------------------*@

    @* Start of picture section : Arboretum ---------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:middle; width:180px;">
        <a class="picturelink" href="../../Content/art/Arboretum.jpg" rel="lightbox" title="Arboretum" >
            <img alt="Arboretum" width="120px" src="../../Content/art/Arboretum.JPG" /><div>Arboretum</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>Arboretum</strong></td>       
          </tr>
          <tr>
           <td style="height:110px; vertical-align:top;">A large impressionist-abstract painting in imaginative, glorious colours. 
           Acrylic paint on canvas with a 15 mm  profile.
           </td>
          </tr>
          <tr>
           <td style="background-color:#333333; text-align:left;">Size: 127 x 102 cm. </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : Arboretum  ------------------------------------------------------------------------*@
@* Start of picture section : Ganza ganza ---------------------------------------------------------------------*@
    <tr>
     <td>
      <table>
       <tr style="height:130px;">
        <td style="vertical-align:middle; width:180px;">
        <a class="picturelink" href="../../Content/art/Ganza ganza.jpg" rel="lightbox" title="Ganza ganza" >
            <img alt="Ganza ganza" width="120px" src="../../Content/art/Ganza ganza.JPG" /><div>Ganza ganza</div></a>
        </td>
        <td>
         <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
          <tr style="vertical-align:middle;">
           <td style="background-color:#CC9900; text-align:left;" ><strong>Ganza ganza</strong></td>       
          </tr>
          <tr>
           <td style="height:110px; vertical-align:top;">Abstract painting, conveying joy and celebration.
            Acrylic paint on canvas with a 15 mm profile.
            </td>
          </tr>
          <tr>
           <td style="background-color:#333333; text-align:left;">Size: 120 x 40 cm. </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>    
    </tr>
    <tr>
     <td><hr /></td>
    </tr>
    @* End of picture section : Ganza ganza  ------------------------------------------------------------------------*@

        @* Start of picture section : Juniper ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Juniper.jpg" rel="lightbox" title="Sweet Juniper" >
                <img alt="Sweet Juniper" width="120px" src="../../Content/art/Juniper.JPG" /><div>Sweet Juniper</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Sweet Juniper</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Painting of figure with abstract design.
                Acrylic on wood panel.
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size: </td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
        @* End of picture section : Juniper  ------------------------------------------------------------------------*@
            @* Start of picture section : Water Lilies 12 ---------------------------------------------------------------------*@
            <tr>
             <td>
              <table>
               <tr style="height:130px;">
                <td style="vertical-align:middle; width:180px;">
                <a class="picturelink" href="../../Content/art/Water Lilies 12.jpg" rel="lightbox" title="Water Lilies 12" >
                    <img alt="Water Lilies 12" width="120px" src="../../Content/art/Water Lilies 12.JPG" /><div>Water Lilies 12</div></a>
                </td>
                <td>
                 <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
                  <tr style="vertical-align:middle;">
                   <td style="background-color:#CC9900; text-align:left;" ><strong>Water Lilies 12</strong></td>       
                  </tr>
                  <tr>
                   <td style="height:110px; vertical-align:top;">Impressionist painting inspired by Monet. Acrylic paint on canvas with a 3 cm profile.
                   </td>
                  </tr>
                  <tr>
                   <td style="background-color:#333333; text-align:left;">Size: Size 76 x 76 cm. </td>
                  </tr>
                 </table>
                </td>
               </tr>
              </table>
             </td>    
            </tr>
            <tr>
             <td><hr /></td>
            </tr>
            @* End of picture section : Water Lilies 12  ------------------------------------------------------------------------*@
        @* Start of picture section : Water Lilies 5 ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Water Lilies 5.jpg" rel="lightbox" title="Water Lilies 5" >
                <img alt="Water Lilies 5" width="120px" src="../../Content/art/Water Lilies 5.JPG" /><div>Water Lilies 5</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Water Lilies 5</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Impressionist painting.
                Acrylic paint on wood panel with a 4cm profile.
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size: 76 x 68cm. </td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
        @* End of picture section : Water Lilies 5  ------------------------------------------------------------------------*@
        @* Start of picture section : Trees Fantastic ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Trees Fantastic 2.jpg" rel="lightbox" title="Trees Fantastic" >
                <img alt="Trees Fantastic" width="120px" src="../../Content/art/Trees Fantastic 2.JPG" /><div>Trees Fantastic</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Trees Fantastic</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">A large impressionist painting in glorious colours. Acrylic paint on canvas with a 15 mm profile.
               </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size: 127 x 102 cm. </td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
        @* End of picture section : Trees Fantastic  ------------------------------------------------------------------------*@

        @* Start of picture section : E Lincs Landscape ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/E Lincs Landscape.jpg" rel="lightbox" title="E Lincs Landscape" >
                <img alt="E Lincs Landscape" width="120px" src="../../Content/art/E Lincs Landscape.JPG" /><div>E Lincs Landscape</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>E Lincs Landscape</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Impression of the Fens.
                Oil paint on canvas with a 4cm profile.
                </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size: 40 x 40 cm. </td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
        @* End of picture section : E Lincs Landscape  ------------------------------------------------------------------------*@
        @* Start of picture section : Jubilaire ---------------------------------------------------------------------*@
        <tr>
         <td>
          <table>
           <tr style="height:130px;">
            <td style="vertical-align:middle; width:180px;">
            <a class="picturelink" href="../../Content/art/Jubilaire.jpg" rel="lightbox" title="Jubilaire" >
                <img alt="Jubilaire" width="120px" src="../../Content/art/Jubilaire.JPG" /><div>Jubilaire</div></a>
            </td>
            <td>
             <table style=" padding:8 8 8 8; border-width:0px; width:350px;">
              <tr style="vertical-align:middle;">
               <td style="background-color:#CC9900; text-align:left;" ><strong>Jubilaire</strong></td>       
              </tr>
              <tr>
               <td style="height:110px; vertical-align:top;">Abstract  design of two acrobatically dancing  figures. Acrylic paint on wood panel. 
               </td>
              </tr>
              <tr>
               <td style="background-color:#333333; text-align:left;">Size: 137 x 130 cm. </td>
              </tr>
             </table>
            </td>
           </tr>
          </table>
         </td>    
        </tr>
        <tr>
         <td><hr /></td>
        </tr>
        @* End of picture section : Jubilaire  ------------------------------------------------------------------------*@



@*    <tr>
   <td>
       <a class="picturelink" href="../../Content/art/Culpepper3.jpg" rel="lightbox" title="Culpepper">
           <img src="../../Content/art/Culpepper_ico.JPG"/><div>Culpepper</div></a>
   </td>
 </tr>*@
   </table>    
