<h2>Contact</h2>
<p>
    If you are interested in purchasing one of Ann Chambers' paintings, please email:
    <br /><br />
    <a href="mailto:sales@annchambers.net?subject=Sales Enquiry: Ann Chambers Art">Sales Enquiries</a>
    <br /><br />
    In the event of technical problems in viewing this website please email: <br /><br />
     <a href="mailto:techsupport@annchambers.net?subject=Technical Issue: annchambers.net">Technical Support</a>
</p>
