<h2>Links</h2>

Thanks to my grandson, 'RoyalStraightFlush22'!
<br />
<br />
<a href="http://www.youtube.com/watch?v=L-S-bePDKvA&list=UU3e75PCh57Qszkqs_AqQLwg&index=9&feature=plcp" target="_blank">Youtube video</a>
<br />
<br />
<a href="http://stmarksgallery.com/" target="_blank">The St Mark's Gallery Newark, Nottinghamshire</a>